<ion-header>

  <ion-navbar>
    <ion-title>{{ room.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="room-profile" text-center #profilePic [style.background-image]="'url(' + room.profilePic + ')'">
  </div>

  <div class="room-detail" padding>
    <h2>{{room.name}}</h2>
    <p>{{room.about}}</p>
  </div>
</ion-content>
