page-room-detail {
  .room-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }
  .room-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
