<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addRoom()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let room of rooms | async">
      <button ion-item (click)="joinRoom(room)">
        <ion-avatar item-start>
          <img [src]="room.profilePic" />
        </ion-avatar>
        <h2>{{room.name}}</h2>
        <p>{{room.about}}</p>
        <ion-note item-end *ngIf="room.note">{{room.note}}</ion-note>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteRoom(room)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
        <button ion-button (click)="openRoom(room)">Details</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
